


.btn{
    padding: 25px;
    border-radius: 15px;
    cursor: pointer;
}
.red:hover{
    background-color: brown;
}
.green:hover{
    background-color: green;
}
.yellow:hover{
    background-color: yellow;
}
.blue:hover{
    background-color: blue;
}